Debug/
Release/
html/
Trailer/
Content/
DepencyPacks/
Games/
Trailer/
Tools/
OldScreens/
OtherScreens/
Resources/
.history/
.metadata/
*.pdom
*.index
*.tmp
*.log
*.exp
*.ilk
*.exe
*.pdb
*.tlog
*.obj
*.zip
*.idb
*.user
*.sdf
*.suo
*.o
*.d
*.mk
*.a
*.snap
*.running
*.markers
*.prefs
*.markers
*.history
*.cs
*.opensdf
*.tree
*.bat